*~
/build/isa-l/*
!/build/isa-l/build.sh
/build/zlib-cloudflare/*
!/build/zlib-cloudflare/build.sh
!/build/zlib-cloudflare/build_from_external_directory.patch
/build/zlib-ipp/*
!/build/zlib-ipp/build.sh
/build/zlib-madler/*
!/build/zlib-madler/build.sh
/build/zlib-ng/*
!/build/zlib-ng/build.sh
/build/zlib-chromium/*
!/build/zlib-chromium/build.sh
!/build/zlib-chromium/aarch64_build.patch

